@using PokerTime.Domain.Entities

<aside class="menu">
    <TopMenu BrandIsClickable="false">
        <div class="navbar-start navbar-retrospective-start">
            <div class="navbar-item">
                <h1 class="retrospective-title">@this._layoutInfo.Title</h1>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item retrospective-progress-container">
                <div class="retrospective-progress @(this.CurrentStage == SessionStage.NotStarted ? "retrospective-progress--inactive" : String.Empty)">
                    <PokerSessionProgressItem 
                        CurrentStage="@this.CurrentStage"
                        ApplicableTo="@SessionStage.Writing"
                        Text="Write"/>

                    <PokerSessionProgressItem 
                        CurrentStage="@this.CurrentStage"
                        ApplicableTo="@SessionStage.Discuss"
                        Text="Discuss"/>

                    <PokerSessionProgressItem 
                        CurrentStage="@this.CurrentStage"
                        ApplicableTo="@SessionStage.Grouping"
                        Text="Group"/>

                    <PokerSessionProgressItem 
                        CurrentStage="@this.CurrentStage"
                        ApplicableTo="@SessionStage.Voting"
                        Text="Vote"/>

                    <PokerSessionProgressItem 
                        CurrentStage="@this.CurrentStage"
                        ApplicableTo="@SessionStage.Finished"
                        Text="Finished"/>
                </div>
            </div>
        </div>
    </TopMenu>
</aside>

@code
{
    #nullable disable
    private PokerSessionLayoutInfo _layoutInfo = new PokerSessionLayoutInfo("Loading...");

    private SessionStage CurrentStage => this._layoutInfo.Stage ?? SessionStage.NotStarted;

    public void Update(in PokerSessionLayoutInfo layoutInfo)
    {
        this._layoutInfo = layoutInfo;

        this.StateHasChanged();
    }
}
