@using PokerTime.Domain.Entities

<article class="message retrospective-status-panel">
    <div class="message-header">
        @* Each stage has its own title *@
        <SessionStageText ApplicableTo="@SessionStage.NotStarted"
                                Text="Not started yet" />
        <SessionStageText ApplicableTo="@SessionStage.Writing"
                                Text="Writing down findings" />
        <SessionStageText ApplicableTo="@SessionStage.Discuss"
                                Text="Discussion" />
        <SessionStageText ApplicableTo="@SessionStage.Grouping"
                                Text="Grouping" />
        <SessionStageText ApplicableTo="@SessionStage.Voting"
                                Text="Voting" />
        <SessionStageText ApplicableTo="@SessionStage.Finished"
                                Text="Finished" />
    </div>
    <div class="message-body">
        @* Each stage has its own explanation *@
        <p class="retrospective-status-panel__primary-explanation">
            <SessionStageText ApplicableTo="@SessionStage.NotStarted"
                                    Text="We are waiting for the facilitator to start the retrospective." />
            <SessionStageText ApplicableTo="@SessionStage.Writing"
                                    Text="You can now write down your findings by adding notes in each of the lanes. Until the next phase what you write down is not visible to others." />
            <SessionStageText ApplicableTo="@SessionStage.Discuss"
                                    Text="All the cards are on the table. The facilitator leads the dissussion." />
            <SessionStageText ApplicableTo="@SessionStage.Grouping"
                                    Text="The facilitator will now group the related notes together." />
            <SessionStageText ApplicableTo="@SessionStage.Voting"
                                    Text="You can now vote on the notes and groups to think are important to focus on." />
            <SessionStageText ApplicableTo="@SessionStage.Finished"
                                    Text="The retrospective is now finished. You can now view the results here." />
        </p>

        @* Each stage has its own panel and controls *@
        <SessionStagePanel ApplicableTo="@SessionStage.NotStarted">
        </SessionStagePanel>

        <SessionStagePanel ApplicableTo="@SessionStage.Writing">
        </SessionStagePanel>

        <SessionStagePanel ApplicableTo="@SessionStage.Discuss">
        </SessionStagePanel>

        <SessionStagePanel ApplicableTo="@SessionStage.Grouping">
        </SessionStagePanel>

        <SessionStagePanel ApplicableTo="@SessionStage.Voting">
        </SessionStagePanel>

        <SessionStagePanel ApplicableTo="@SessionStage.Finished">
        </SessionStagePanel>
    </div>
</article>